@media(min-width:320px) and (max-width:767px) {

  h1,
  .h1 {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--primary-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 84px;
    /* 120% */
    text-transform: capitalize;
  }

  h2,
  .h2 {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--primary-font);
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    /* 126.087% */
    text-transform: capitalize;
  }

  h3,
  .h3 {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--primary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    /* 156.25% */
    text-transform: capitalize;
  }

  h4,
  .h4 {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--primary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .large-text {
    font-size: 30px;
    font-weight: 600;
    line-height: 60.48px;
    font-family: var(--primary-font);

  }

  .txt-large {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 27px;
    /* 150% */
  }

  /* P/16px (Standard) */
  .txt-standard {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 30px;
    /* 187.5% */
  }

  .txt-button {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  /* P/16px (Hyperlink) */
  .txt-hyperlink {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 30px;
    /* 187.5% */
    text-decoration-line: underline;
  }

  /* --*--*-- End Typography --*--*-- */

  .footer-wrapper {
    grid-template-columns: 1fr;
  }

  .contact-detail .content-grid {
    grid-template-columns: 1fr;
  }

  .contact-detail iframe {
    width: 300px !important;
  }

  .contact-description {
    flex-direction: column;
  }

  .grow-content {
    width: 100%;
  }

  header .content-right {
    display: flex;
    justify-content: flex-end;
  }

  .contact-detail {
    padding: 40px 24px;
  }

  .txt-large {
    font-size: 16px;
  }

  .contact-description h3 {
    font-size: 20px;
  }

  .certification-img {
    flex-direction: column;
  }

  .tabs-bg .tab-content-section .main-tab {
    width: 100%;
  }

  .banner-contact,
  .contact-text {
    height: 300px;
  }

  .contruction-cards {
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  .work-detail-section .main-work-section {
    flex-direction: column;
  }

  .renewable-section .d-flex {
    flex-direction: column;
  }

  .renewable-section .w-50 {
    width: 100% !important;
  }

  .renewable-section .w-50 img,
  .renewable-section .renewable {
    height: 100%;
  }

  .solution-images {
    flex-direction: column;
  }

  .gallery-section {
    gap: 10px;
  }

  .gallery-slider .carousel-control-next,
  .gallery-slider .carousel-control-prev {
    top: -188%;
  }

  .renewable-section {
    height: 100%;
  }

  .renewable-section .renewable {
    padding: 30px 16px;
  }
}

@media(min-width:768px) and (max-width:1023px) {
  .contact-detail .content-grid {
    grid-template-columns: 1fr;
  }

  .contact-detail iframe {
    width: 100% !important;
  }

  .contact-detail .content-right {
    padding-left: 0;
    margin-top: 24px;
  }

  header .content-right {
    display: flex;
    justify-content: flex-end;
  }

  .contruction-cards {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }

  .card-img {
    left: 42%;
  }

  .constructions-wrapper .card-content {
    height: 340px;
  }

  .solution-images {
    flex-direction: column;
    align-items: center;
  }

  .renewable-section .d-flex {
    flex-direction: column;
  }

  .renewable-section {
    height: 100%;
  }

  .renewable-section .d-flex .w-50 {
    width: 100% !important;
  }

  .main-work-section {
    flex-direction: column;
  }

  .footer-wrapper {
    grid-template-columns: 1fr;
  }
}

@media(min-width:1024px) and (max-width:1200px) {
  .contact-detail .content-grid {
    grid-template-columns: 1fr;
  }

  .contact-detail iframe {
    width: 100% !important;
  }

  .contact-detail .content-right {
    padding-left: 0;
    margin-top: 24px;
  }

  .contact-detail {
    padding: 80px 0;
  }

  /* .responsive .slick-slide {
    float: left;
    width: calc(100% / 4);
  } */

  .valuable-client .client-images img {
    padding-right: 80px;
    padding-left: 80px;
  }

  .constructions-wrapper .card-content {
    padding: 90px 40px;
  }
}


@media(min-width:1201px) and (max-width:1366px) {
  .valuable-client {
    /* padding-bottom: 0; */
  }

  .valuable-client .client-images img {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media(min-width:1367px) and (max-width:1440px) {
  .valuable-client {
    /* padding-bottom: 0; */
  }
}

@media(min-width:1401px) and (max-width:1600px) {
  .contact-description .contact-img img {
    height: 100px;
    width: 100px;
  }

  .tabs-bg .tab-content-section .main-tab {
    width: 370px;
  }

  /* .client-wrapper .client-images {
    float: left;
    width: calc(100% / 3);
  } */

  .valuable-client .client-images img {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media(min-width:1601px) and (max-width:1921px) {
  .content-grid {
    --padding-inline: 1rem;
    --content-max-width: 1440px;
    /* --content-max-width: 1212px; */
    --breakout-max-width: 100%;

    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
    --content-size: min(100% - (var(--padding-inline) * 2), var(--content-max-width));
    --left-content-size: calc(var(--content-size) / 2);
    --right-content-size: calc(var(--content-size) / 2);

    display: grid;
    grid-template-columns:
      [full-width-start left-extended-start left-stretch-end] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start right-extended-start left-content-start] var(--left-content-size) [left-content-end left-stretch-end right-content-start right-stretch-start] var(--right-content-size) [left-extended-end right-content-end content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [right-extended-end right-stretch-end full-width-end];
  }
}